<% include('header.html') %>

<div class="page-header">
	<h3>This is a test for Salesforce as Identity Provider <small>using SAML 2.0</small></h3>
</div>

<% if(user != null) {%>
	<h1>User is authenticated successfully!</h1>
	<blockquote>
		<p class="text-center">
			<a class="btn btn-lg btn-info" href="<%=backUrl%>" role="button" target="_parent">Back to Salesforce <span class="glyphicon glyphicon-send" /></a>
		</p>
	</blockquote>
<% }else{ %>
	<h1 class="text-center">
		User is not authenticated!</p>
	</h1>
<% } %>
<% include('footer.html') %>